apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ item }}
spec:
  capacity:
    storage: 5Gi 
  accessModes:
  - ReadWriteOnce 
  - ReadWriteMany
  - ReadOnlyMany 
  nfs: 
    path: /exports/pvs/{{ item }}
    server: {{ servidor_nfs }}
  persistentVolumeReclaimPolicy: Retain
